body {
    margin: 0;
    box-sizing: 0;
    padding: 0;

}



/* Position */
/* 
div {
    background-color: var(--bg-color);
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

/* section {
    position: relative;
    border: 1px solid;
} */

/* .position {
    background-color: var(--modal-color); */

/* position: relative;
    bottom: 20px;
    left: 20px;
    z-index: auto; */

/* position: absolute;   usa-se quando se quer trabalhar em containers!!!
    bottom: 20px;
    left: 20px; */

/* position: fixed;   usa-se quando se quer trabalhar com algo fixo.
    bottom: 20px;         Ex: um botão de dúvidas no canto inferior da tela.
    right: 20px; 
    z-index: auto; */
/* 
    position: sticky;    usa-se para coloar em outro elemento quando se há um 
    top: 20px;           scroll, onde ele se baseia em um elemento pai
    z-index: -1; */

/* } 


/* Variáveis */
/* :root {
    --bg-color: black;
    --modal-color: red
}



/* Flex Box */
/* .container {
    border: dashed;
}

.item {
    --hue: 0;
    text-align: center;
    background-color: hsl(var(--hue), 100%, 70%);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */


/* Grid */

/* Container (Pai) */

/* 
- display: grid;
- grid-template;
   - grid-template-columns;
   - grid-template-rows
   - grid-template-areas
*/


/* Itens (Filhos) */

/* 
- grid-colum;
   - grid-column-start;
   - grid-column-end;
- grid-row;
   - grid-row-start
   - grid-row-end
- grid-area

*/


/* Columns */
/* #app {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 2px solid green;
}

#app>div {
    border: 1px solid red;
}

span {
    border: 1px solid blue;
} */



/* Row */
#app {
    display: grid;
    grid-template-areas:
        "header main main"
        "header main main"
        "header footer aside";


    height: 100vh;

}

* {
    border: 1px solid red;
}

#app header {
    grid-area: header;
}

#app main {
    grid-area: main;
}


#app footer {
    grid-area: footer;
}