/* Position */

div {
    background-color: var(--bg-color);
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

/* section {
    position: relative;
    border: 1px solid;
} */

.position {
    background-color: var(--modal-color);
    /* position: relative;
    bottom: 20px;
    left: 20px;
    z-index: auto; */

    /* position: absolute;   usa-se quando se quer trabalhar em containers!!!
    bottom: 20px;
    left: 20px; */

    /* position: fixed;   usa-se quando se quer trabalhar com algo fixo.
    bottom: 20px;         Ex: um botão de dúvidas no canto inferior da tela.
    right: 20px; 
    z-index: auto; */
    /* 
    position: sticky;    usa-se para coloar em outro elemento quando se há um 
    top: 20px;           scroll, onde ele se baseia em um elemento pai
    z-index: -1; */

}


/* Variáveis */
:root {
    --bg-color: black;
    --modal-color: red
}


.container {
    border: dashed;
}

.item {
    --hue: 0;
    text-align: center;
    background-color: hsl(var(--hue), 100%, 70%);
}

